*{ margin: 0px;padding: 0px}
body{
    text-align: center;
    padding: 10px 45px;
}
h1{
    color: blueviolet;
}
p{
    text-align: justify;
    color: #000000;
}
a{
    text-decoration: none;

}
button{
    margin-top: 10px;
    border: none;
    text-align: center;
    font-size: 16px;
    background-color: royalblue;
    color: #ffffff;
    padding: 5px 20px;
}
button:hover{
    background-color: rosybrown;
    color: black;
}